// Body
$body-bg: #f8fafc;

// Typography
$font-family-river: 'Bungee', cursive;
$font-family-sans-serif: 'Nunito', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

h1, h2, h3, h4, label{
    font-family: $font-family-river;
}

.regform{
    font-family: $font-family-river;
}

.btn-warning{
    font-family: $font-family-river !important;
}

.btn-secondary{
    font-family: $font-family-river !important;
}

.rbfont{
    font-family: $font-family-river !important;
}

.form-control{
    border-width: thick;
    border-color: black;
}